<div class="currency" *ngIf="usdUah && !!usdUah.rate">
  <span class="currency-flag currency-flag-usd"> </span>
  <span class="currency-name">
    {{ CurrencyLabel.USD + '/' + CurrencyLabel.UAH }}
  </span>
  <span class="currency-rate">{{ usdUah.rate }}</span>
</div>
<div class="currency" *ngIf="eurUah && !!eurUah.rate">
  <span class="currency-flag currency-flag-eur"> </span>
  <span class="currency-name">
    {{ CurrencyLabel.EUR + '/' + CurrencyLabel.UAH }}
  </span>
  <span class="currency-rate">{{ eurUah.rate }}</span>
</div>
