<form *ngIf="currencyListData.length > 0" [formGroup]="converterForm">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Exchange Calculator</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="currency-wrapper">
        <ng-container
          *ngFor="
            let currency of currencyControls;
            let i = index;
            trackBy: trackByIndex
          ">
          <div [formGroupName]="'currency' + i" class="currency">
            <mat-form-field class="currency-amount">
              <input
                formControlName="amount"
                matInput
                placeholder="Enter amount" />
              <mat-error
                *ngIf="
                  converterForm
                    .get('currency' + i + '.amount')
                    ?.hasError('notAmount')
                "
                >Invalid Amount
              </mat-error>
            </mat-form-field>

            <mat-form-field class="currency-label">
              <input
                (keyup)="onEnterPress($event, i)"
                [matAutocomplete]="auto"
                formControlName="label"
                matInput
                placeholder="Select currency" />
              <mat-icon
                *ngIf="currency.label.isCurrencyLabelValid"
                class="currency-flag currency-flag-{{
                  (
                    converterForm.get('currency' + i + '.label')?.value || 'uah'
                  ).toLowerCase()
                }}">
              </mat-icon>
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option
                  (click)="selectLabel(label, i)"
                  *ngFor="let label of currency.label.filteredLabels$ | async"
                  [value]="label">
                  <mat-icon
                    class="currency-flag currency-flag-{{
                      label.toLowerCase()
                    }}"></mat-icon>
                  {{ label }}
                </mat-option>
              </mat-autocomplete>
              <mat-error
                *ngIf="
                  converterForm
                    .get('currency' + i + '.label')
                    ?.hasError('invalidCurrencyLabel')
                ">
                Invalid Currency
              </mat-error>
            </mat-form-field>
          </div>
          <div class="exchange-rate">
            <span>{{ exchangeRates[i] }}</span>
            <button
              (click)="swapCurrencies(i)"
              *ngIf="i < currencyControls.length - 1"
              type="button">
              <mat-icon
                (click)="toggleSwapIcon(i)"
                [class.clicked]="isSwapClicked[i]"
                svgIcon="swap"></mat-icon>
            </button>
          </div>
        </ng-container>
      </div>
    </mat-card-content>
    <div class="currency-buttons">
      <button
        (click)="removeCurrency()"
        [disableRipple]="true"
        class="currency-buttons__button--remove"
        mat-raised-button
        type="button">
        <mat-icon svgIcon="expand"></mat-icon>
      </button>
      <button
        (click)="addCurrency()"
        [disableRipple]="true"
        class="currency-buttons__button--add"
        mat-raised-button
        type="button">
        <mat-icon svgIcon="expand"></mat-icon>
      </button>
    </div>
  </mat-card>
</form>
