$CurrencyLabels: (
  'aed',
  'amd',
  'aud',
  'azn',
  'bdt',
  'bgn',
  'brl',
  'byn',
  'cad',
  'chf',
  'cny',
  'czk',
  'dkk',
  'dop',
  'dzd',
  'egp',
  'eur',
  'gbp',
  'gel',
  'hkd',
  'huf',
  'idr',
  'ils',
  'inr',
  'iqd',
  'irr',
  'jpy',
  'kgs',
  'krw',
  'kzt',
  'lbp',
  'lyd',
  'mad',
  'mdl',
  'mxn',
  'myr',
  'nok',
  'nzd',
  'pkr',
  'pln',
  'ron',
  'rsd',
  'rub',
  'sar',
  'sek',
  'sgd',
  'thb',
  'tjs',
  'tmt',
  'tnd',
  'try',
  'twd',
  'uah',
  'usd',
  'uzs',
  'vnd',
  'zar'
);

@mixin currency-flag($code, $url) {
  .currency-flag-#{$code} {
    background-image: url($url);
    background-size: 32px 24px;
    background-repeat: no-repeat;
  }
}

@each $label in $CurrencyLabels {
  @include currency-flag($label, 'assets/flags/#{$label}.png');
}
