/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@use 'sass:map';
@import 'currency-flags/dist/currency-flags.css';
@include mat.core();

$dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: mat.define-palette(mat.$teal-palette),
      accent: mat.define-palette(mat.$teal-palette)
    ),
    density: -2,
    typography: mat.define-typography-config()
  )
);

.darkMode {
  @include mat.core-color($dark-theme);
  @include mat.button-color($dark-theme);
  @include mat.all-component-colors($dark-theme);
}
html,
body {
  height: 100%;
  background: #000 !important;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  --mdc-filled-text-field-focus-active-indicator-color: transparent !important;
}

.currency-flag {
  border-radius: 3px;
  box-shadow: 1px 1px 1px 1px rgba(4, 106, 58, 0.85);
  outline: 1px solid rgba(15, 39, 76, 0.99);
}
