/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@use 'sass:map';
@import 'currency-flags/dist/currency-flags.css';

@include mat.core();

$dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: mat.define-palette(mat.$teal-palette),
      accent: mat.define-palette(mat.$teal-palette)
    ),
    density: -2,
    typography: mat.define-typography-config()
  )
);

.darkMode {
  @include mat.core-color($dark-theme);
  @include mat.button-color($dark-theme);
  @include mat.all-component-colors($dark-theme);
}

html,
body {
  height: 100%;
  background: #000 !important;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  --mdc-filled-text-field-focus-active-indicator-color: transparent !important;
}

.currency-flag {
  border-radius: 3px;
  box-shadow: 1px 1px 1px 1px rgba(4, 106, 58, 0.85);
  outline: 0.5px solid #2c8211;
}

.mat-mdc-autocomplete-panel.mdc-menu-surface.mdc-menu-surface--open.mat-mdc-autocomplete-visible.mat-primary {
  background-color: black;
}

::-webkit-scrollbar {
  width: 0.5vw;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(99, 99, 99);
  border-radius: 10px;
}

* {
  scrollbar-color: rgba(253, 253, 253, 0.2) #000000;
  scrollbar-width: thin;
}
